<launch>
    <node pkg="mrs_smp" type ="khepera1_server.py"  name="robot1_server" output="screen" />
    <node pkg="mrs_smp" type ="khepera2_server.py"  name="robot2_server" output="screen" />
    <node pkg="mrs_smp" type ="turtlebot3_34_server.py"  name="robot3_server" output="screen">
    <node pkg="mrs_smp" type ="turtlebot3_37_server.py"  name="robot4_server" output="screen">
    <node pkg="mrs_smp" type ="mrs_planner_client1.py"  name="taskplanning1" output="screen" />
    <node pkg="mrs_smp" type ="mrs_planner_client2.py"  name="taskplanning2" output="screen" />
    <node pkg="mrs_smp" type ="taskplans_provider.py" name="taskplans" output="screen"/>
</launch>
